@model IEnumerable<BitSocial.Models.FriendsModel>

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="Button" onclick="location.href='@Url.Action("AddFriends", "Friends")'" value="Add Freinds" class="btn btn-default" />
    </div>
</div>
<hr/>
<div class="Notifications">
    <div class="col-md-offset-2 col-md-10">
        <input type="Button" onclick="location.href='@Url.Action("Requests", "Friends")'" value="Check Friend Requests" class="btn btn-default" />
    </div>
</div>

